<form [formGroup]="formProfessor">
    <div class="po-row">
        <po-input 
        class="po-pl-0 po-md-12"
            formControlName="nome"
            p-label="Professor"
            name="professor"
            p-placeholder="professor"
        ></po-input>
    </div>
    <div class="po-row">
            <po-input 
            class="po-pl-0 po-md-12"
                formControlName="titulacao"
                p-label="titulacao"
                name="titulacao"
                p-placeholder="titulacao"
            ></po-input>
        </div>
</form>
    