<form [formGroup]="formTurmaSimples">
    <div class="po-row">
        <po-input 
            class="po-md-12"
            formControlName="descricao"
            p-label="Descricao"
            name="turmaDescricao"
            p-placeholder="descricao"
        ></po-input>
    </div>

    <div class="po-row">
        <po-number
            float-clear-left
            formControlName="nrVagas" 
            [p-label]="global.i18n.literals['maxAlunos']"
            class="po-md-6 "
            [p-placeholder]="global.i18n.literals['maxAlunos']"
            >
        </po-number>
    
        <po-datepicker 
            formControlName="inicio"
            [p-label]="global.i18n.literals['inicio']"
            [p-placeholder]="global.i18n.literals['dateFormat']"             
            class="po-md-6">
        </po-datepicker> 
    </div>  
</form>
    