<form [formGroup]="formTurmaSimples">
    <div class="thf-row">
        <po-input 
            class="thf-pl-0 thf-md-12"
            formControlName="nome"
            p-label="Nome da Turma"
            name="turmaNome"
            p-placeholder="nome da turma"
        ></po-input>
    </div>
    <div class="thf-row">
            <po-input 
                class="thf-pl-0 thf-md-12"
                formControlName="apelido"
                p-label="Apelido"
                name="turmaApelido"
                p-placeholder="apelido"
            ></po-input>
        </div>
</form>
    