<po-page-default [p-title]="global.i18n.literals['inclusaoNovaTurma']">

    <div class="align-left">
        <po-button 
            class= "margem-right" 
            p-label="volta" (click)="voltarStep()"
            *ngIf="habilitarVoltar">
        </po-button>
        <po-button 
            p-label="proximo" 
            (click)="proximoStep()" 
            p-type="primary"
            *ngIf="validarTurmaEDisciplina()">
        </po-button>  
    </div>
    <po-stepper 
        class="po-xl-12 po-lg-12 po-md-12 po-sm-12" 
        p-orientation="vertical" 
        [p-step]="variavel"
        (p-change-step)="changeStep($event)" 
        #stepper>

        <po-step id="step01" [p-label]="'inicio'" [p-status]=""
            [p-can-active-next-step]="clickStep.bind(this)">
            <app-turma class="po-xl-6 po-lg-6 po-md-6 po-sm-12" #formTurma></app-turma>
        </po-step>

        <po-step p-label="Adicionar Disciplinas" *ngIf="validarFormularioTurma()">
            <app-turma-disciplina-incluir #formTurmaDisciplina [turmaId]="turmaId"></app-turma-disciplina-incluir> 
        </po-step>

        <po-step p-label="Adicionar Alunos" *ngIf="validarTurmaEDisciplina()">
            <app-turma-aluno-incluir #formTurmaAluno [turmaId]="turmaId"></app-turma-aluno-incluir>
        </po-step>
    </po-stepper>

    <po-button 
        class="margem-top-right" 
        p-label="Salvar tudo" 
        (click)="salvarTudo()"
        *ngIf="validarTurmaEDisciplina()"></po-button>
    
    <po-modal 
        #modalProfessor
        [p-title]="global.i18n.literals.cadastroProfessor"
        [p-primary-action]="modalProfessorAcaoPrimaria"
        [p-secondary-action]="modalProfessorAcaoSecundaria">>
        <div class="po-lg-12 po-md-12 po-sm-12">
            <app-professor #formProfessor></app-professor>
        </div> 
    </po-modal>

    <po-modal #modalAluno
    [p-title]="global.i18n.literals.cadastroAluno">
    <div class="po-row">
        <div class="po-md-12">
            <app-aluno #formAluno></app-aluno>
        </div>
    </div> 
    </po-modal>
    
</po-page-default>