<form [formGroup]="formAluno">
    <div class="po-row">
        <po-input 
        class="po-lg-12 po-md-12 po-sm-12"
            formControlName="nome"
            p-label="Aluno"
            name="aluno"
            p-placeholder="nome do aluno"
        ></po-input>     
    </div>

    <div class="po-row">
        <po-input 
        class="po-lg-12 po-md-12 po-sm-12"
            formControlName="email"
            p-label="email"
            name="email"
            p-placeholder="email"
        ></po-input>
    </div>
    <div class="po-row">
        <po-input 
        class="po-lg-4 po-md-4 po-sm-12"
            formControlName="cpf"
            p-label="cpf"
            name="cpf"
            p-placeholder="cpf"
            p-mask="999.999.999-99"
        ></po-input>    
   
        <po-input 
        class="po-lg-4 po-md-4 po-sm-12"
            formControlName="matricula"
            p-label="matricula"
            name="matricula"
            p-placeholder="matricula"
        ></po-input>    

        <po-combo
            class="po-lg-4 po-md-4 po-sm-12"
            formControlName="formaIngresso"
            name="combo"
            [p-label]=global.i18n.literals.formaIngresso
            [p-options]="formaIngressoList">
        </po-combo>
    </div>

    <!-- <po-button p-label="Salvar" (click)="salvar()"></po-button>     -->
    
</form>
        