<div class="po-grid">
    <div class="po-row">
    <kendo-grid 
        class="wms-max-width thf-shadow-container"
        [data]="professoresGrid"
        [columnMenu]="true"
        [sortable]="sortable"
        [sort]="gridState.sort"
        [groupable]="true" 
        [group]="gridState.group"
        (dataStateChange)="alteracaoEstadoDados($event)" 
        [filter]="gridState.filter"
        [kendoGridSelectBy]="'id'"
        (selectedKeysChange)="onSelectedKeysChange($event)"
        >
        
        <kendo-grid-checkbox-column [width]="5"[columnMenu]="false"class="no-padding text-center"></kendo-grid-checkbox-column>
        <kendo-grid-column [width]="80" field="nome" class="grid-column-align-left" [title]="nome"></kendo-grid-column>
        <kendo-grid-column [width]="20" field="email" class="grid-column-align-rigth" [title]="email"></kendo-grid-column>
        <kendo-grid-column [width]="40" field="cpf" class="grid-column-align-right" [title]="'cpf'"></kendo-grid-column> 
        <kendo-grid-column [width]="40" field="titulacao" class="grid-column-align-right" [title]="'Titulacao'"></kendo-grid-column> 
    </kendo-grid>
    </div>
</div>


    
    