<form [formGroup]="formTurmaDetalhe">
        <div class="po-row">
                <po-number float-clear-left [p-label]="global.i18n.literals['maxAlunos']"
                    class="po-md-6 po-pr-sm-0 po-pl-sm-0">
                </po-number>
          
                <po-datepicker [p-placeholder]="global.i18n.literals['dateFormat']" [p-label]="global.i18n.literals['dataInicio']"
                    class="po-md-6 po-pr-sm-0 po-pl-sm-0">
                </po-datepicker> 
        </div>
        <!-- <div class="thf-row">
            <thf-input 
                class="thf-pl-0 thf-md-12"
                formControlName="nrAlunos"
                [t-label]="global.i18n.literals['maxAlunos']"
                name="turmaNrAlunos"
                t-placeholder="max de alunos"
            ></thf-input>
        </div> -->
        <!-- <div class="thf-row">
            <thf-input 
                class="thf-pl-0 thf-md-12"
                formControlName="inicio"
                [t-label]="global.i18n.literals['dataInicio']"
                name="turmaInicio"
                t-placeholder="inicio"
            ></thf-input>
        </div> -->
    </form>
        