.app-novo-label-color {
  color: #4a5c60;
  font-size: 14px;
  margin-top: 5px;
}

.small-margin {
  margin-top: 5px;
}

.app-novo-label-optional {
  color: #4a5c60;
  font-style: oblique;
  font-family: NunitoSans, sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-style: italic;
  vertical-align: bottom;
}

.titulo {
  font-family: NunitoSans-Bold, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #4a5c60;
  display: table-cell;
  vertical-align: sub;
}
