
<div class="po-row">
    <h1>Disciplinas</h1> 
</div>
<div class="po-row">
    <po-button class="margem-top-right" 
        p-label="Adicionar" 
        (click)="abrirModalDisciplina()"
        p-type="primary">
    </po-button>    
    <po-button class="margem-top-right" p-label="Remover" (click)="removerDisciplinas()"></po-button>
    <po-button class="margem-top-right" p-label="Nova" (click)="abrirModalNovaDisciplina()"></po-button>

</div>

<div class="po-row margem-top">
    <app-turma-list-form-disciplina #formListTurmaDisciplina [turmaId]="idTurma"
    ></app-turma-list-form-disciplina>
</div>

<po-modal #modalDisciplinas
    [p-title]="global.i18n.literals.adicionarDisciplinas"
    [p-primary-action]="modalTurmaDisciplinasPrimaria">
    <div class="po-row">
        <div class="po-md-12">
            <app-list-form-disciplina #formDisciplina></app-list-form-disciplina>
        </div>
    </div> 
</po-modal>

<po-modal class="po-xl-12 po-lg-12 po-md-12 po-sm-12" #modalNovaDisciplina
    [p-title]="'Nova Disciplina'"
    [p-primary-action]="modalNovaDisciplinaPrimaria">
    <app-disciplina-incluir #formNovaDisciplina 
        class="po-xl-12 po-lg-12 po-md-12 po-sm-12"
        [disciplinaId]="disciplinaId"></app-disciplina-incluir>
</po-modal>