<po-page-list [p-actions]="actions"> 

<div class="po-grid">
  <div class="po-row">
    <kendo-grid 
      class="wms-max-width thf-shadow-container"
      [data]="turmasGrid"
      [columnMenu]="true"
      [sortable]="sortable"
      [sort]="gridState.sort"
      [groupable]="true" 
      [group]="gridState.group"
      (dataStateChange)="dataStateChange($event)" 
      [filter]="gridState.filter" 
     >
      <kendo-grid-column [width]="120" field="descricao" class="grid-column-align-left" [title]="global.i18n.literals.turma"></kendo-grid-column>
      <kendo-grid-column [width]="30" field="inicio" filter="date" [format]="global.i18n.literals.dateFormat" class="grid-column-align-rigth" [title]="global.i18n.literals.ano"></kendo-grid-column>
      <kendo-grid-column [width]="20" field="nrVagas" class="grid-column-align-right" [title]="global.i18n.literals.nrVagas"></kendo-grid-column> 
      
    </kendo-grid>
  </div>
</div>

</po-page-list>

